/* reset */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 12px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {display: block;}

body,html {margin: 0px;margin: 0px; font-family:"Arial", "Microsoft Yahei", sans-serif; font-size: 12px;}
a {text-decoration: none;}





body {position: relative; background:#0089d7; color:#fff;}
.wapper {padding-top:100px; padding-bottom:50px; min-height:400px;

FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#004c88,endColorStr=#0089d7); /*IE 6 7 8*/ 

background: -ms-linear-gradient(top, #004c88,  #0089d7);        /* IE 10 */

background:-moz-linear-gradient(top,#004c88,#0089d7);/*火狐*/ 

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#004c88), to(#0089d7));/*谷歌*/ 

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004c88), to(#0089d7));      /* Safari 4-5, Chrome 1-9*/

background: -webkit-linear-gradient(top, #004c88, #0089d7);   /*Safari5.1 Chrome 10+*/

background: -o-linear-gradient(top, #004c88, #0089d7);  /*Opera 11.10+*/
}





.headLogo {position: absolute;left:3%;top: 6.666%;}
.headLogo .logo {background: url(../images/logo2.png) no-repeat;display: inline-block;width:250px;height: 114px;}
.headLogo ol li {border-bottom: 1px solid #a2dbfb;width: 171px;padding:  10px 0;}
.headLogo ol li.tit {font-size: 28px;line-height: 28px;color: #fff;font-family: "Microsoft Yahei";}
.headLogo ol li h2 {font-size: 42px;color: #fff;font-family: "Microsoft Yahei";}
.headLogo ol li.last {border: none;}



.land {width: 385px;/*background:#fff;*//*border-bottom:2px solid #2d6ebd;border-right:2px solid #2d6ebd;*/ padding: 30px;
-webkit-box-shadow:0 2px 8px  rgba(0,0,0,0.5);-moz-box-shadow:0 2px 8px  rgba(0,0,0,0.5); box-shadow:0 2px 8px  rgba(0,0,0,0.5);-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.land table {margin-left: 30px;}
.land table .txt {padding: 0px;margin:0px;border-top:1px solid #bdbdbd;border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;border-bottom:1px solid #bdbdbd;width: 240px;height: 43px;margin-bottom: 28px;font-size: 15px;color: #9ea1a4;font-family: "Microsoft Yahei";}
.land .btn {text-align: center;padding-top: 30px;}
.land .btn a {font-size: 50px;color: #00feff;}
.land h5 a {font-size: 28px;color: #005982;}


.land p {font-size: 13px;color: #005982;}
.land p a {font-size: 13px;color: #005982;text-decoration: underline;padding: 0 15px;}
.land .btn {padding-top: 65px;}
.land span a {color: #000000;font-size: 13px;text-decoration: underline;padding-top: 20px;display: inline-block;}

.land {width: 385px;position: relative;margin-left: -192px;left: 50%; }
.land table td.syllable{ width:120px;font-size: 15px;color: #fff;font-family: "Microsoft Yahei"; text-align:left;}

.land2 table .txt{margin-bottom:12px;}
.land2 .btn {padding-top: 10px; padding-bottom:20px;}
.yzm{padding:14px;border:1px outset #bdbdbd; margin-left:10px; background:#edf7ff;color: #005982; }
.land2 font{ color:#f00;}


.tishi_info{ color:#f00; font-weight:bold; position:absolute; bottom:15px; left:30px;font-size:14px;}


.footer {position: absolute;bottom:2.2222%;left: 3%;}
.footer p {font-size: 12px;color: #fff;font-family: "Microsoft Yahei";}

/* stepInfo */
.stepInfo{position:relative;background:#f2f2f2;width:520px;margin-left: -182px;left: 50%; }
.stepInfo li{float:left;width:48%;height:0.6em;background:#093a73;}
.stepIco{border-radius:1.4em;padding:0.2em;background:#093a73;text-align:center;line-height:1.4em;color:#fff; position:absolute;width:1.4em;height:1.4em;}
.stepIco1{top:-0.7em;left:-1%;}
.stepIco2{top:-0.7em;left:50%;}
.stepIco3{top:-0.7em;left:95%;}
.stepText{color:#fff;margin-top:0.2em;width:4em;text-align:center;margin-left:-1.4em;font-size: 13px;}
.stepon,li.stepon{background:#00fbfe; color:#093a73;}
